.cContOne{
    height: 100vh;
    background: url(../login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fromMovie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.fromMovie label{
    padding: 10px 0;
    font-size: 1.3rem;
    color: crimson;
}
.fromMovie input{
    padding: 10px 20px;
    width: 50vw;
    border-radius: 5px;
    outline: none;
    color: crimson;
    background-color: #0000;
}
.fromMovie input::placeholder{
    color: crimson;
}
.fromMovie textarea{
    padding: 15px 20px;
    width: 50vw;
    border-radius: 5px;
    outline: none;
    background-color: #0000;
    color: crimson;
}
.fromMovie textarea::placeholder{
    color: crimson;
}
.fromMovie button{
    margin-top: 7px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: transparent;
    color: crimson;
    cursor: pointer;
}